<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kyara Lucas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui-theme-default.css" />
    <%# Custom StyleSheet for Black Color (Totally Optional)%>
    <link rel="stylesheet" href="stylesheets/black.css" />
    <link rel='shortcut icon' type='image/x-icon' href='stylesheets/favicon.ico' />

  
  </head>
  <body>

     <div style="text-align: center;">
<div style="display: inline-block;">
     <figure class="snip1568">
        <figcaption>
          <h3>Kyara Lucas</h3>
          <h4>Data Science & Machine Learning</h4>
          <p>You can chat with a chatbot version of me below.</p>
                <div class="icons"><a href="https://github.com/boredkyara" target="_blank"><i class="ion-social-github"></i></a>
          <a href="https://www.linkedin.com/in/kyara-lucas-3652a7b8" target="_blank"> <i class="ion-social-linkedin"></i></a>
          <a href="mailto:kyaralucas@live.com" target="_blank"> <i class="ion-android-mail"></i></a>
          <a href="https://openjournals.maastrichtuniversity.nl/Marble/article/view/571" target="_blank"> <i class="ion-ios-paper"></i></a>
        </div>
        </figcaption>

      </figure>
    </div>
  </div>
    
    
    <div class="botui-app-container" id="api-bot">
      <bot-ui></bot-ui>
    </div>

    <%# JS STUFF%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/botui/build/botui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/botui/build/botui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%# Edit the Conversation from Convo.js%>
    <script src="javascripts/convo.js"></script>
    <script src="javascripts/socket.js"></script>


  </body>
  <footer>

  </footer>
</html>
